# Copier en .env (jamais committé) et remplir.
SENTINELLE_DATA_BACKEND=databricks
DATABRICKS_SERVER_HOSTNAME=dbc-xxxxxxxx-xxxx.cloud.databricks.com
DATABRICKS_HTTP_PATH=/sql/1.0/warehouses/xxxxxxxxxxxxxxxx
DATABRICKS_TOKEN=dapi...
DATABRICKS_SCHEMA=workspace.sentinelle
